kumuluzee:
  name: collections-service
  env:
    name: dev
  version: 1.0.0
  server:
    base-url: http://localhost:8081
    http:
      port: 8081
  datasources:
    - jndi-name: jdbc/CollectionsDS
      connection-url: jdbc:postgresql://172.17.0.1:5433/collections
      username: dbuser
      password: postgres
      max-pool-size: 20
  discovery:
    etcd:
      hosts: http://localhost:2379
  metrics:
    web-instrumentation:
      - name: collections-endpoint
        url-pattern: /v1/collections/*
  health:
    checks:
      data-source-health-check:
        type: liveness
        jndi-name: jdbc/CollectionsDS

configuration-properties:
  test-var:
    enabled: true